{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">     
    <h1>Привет, я Анастасия Белобородова</h1>
    <p>
      Я Настя, мне 33 года. По образованию я инженер по специальности 
      "Радиоэлектронные системы". Закончила радиофак УрФУ. Несколько лет работала
      в военной промышленности инженером комплексного контроля. Программировала
      аппаратуру контроля изделий военной промышленности. Писала программы в 
      машинных кодах. Только хардкор! Это было круто.  
    </p>
    <p>
      Программирование мне нравилось всегда, и сейчас у меня появилась 
      возможность осуществить свое давнее желание и стать разработчиком.
      Это оказалось не так просто, как я думала поначалу, но после трех лет
      дерета как глоток свежего воздуха! Безумно интересно! У меня обязательно 
      все получится!
    </p>
    <p>
      В работе мне очень помогает мой трехлетний сын. Ему очень нравится мне 
      помогать. Что еще может так помочь сосредоточиться над решением задачи, 
      как крики "Пошли играть!", "Я тоже хочу потыкать", "А что это за кнопочка?", 
      "Не работай!!!", "Я упааааал, пожалееей меняяяяя!!!!"
    </p>
    <p>
      <img src="/static/img/workplace.png" width="200" height="440" alt="workplace">
    </p>
    <p>
      Мне нравятся путешествия, пазлы, фэнтези и психология. Но самое великолепное
      в этом мире - это детский садик!
    </p>
    <p>
      <a href="https://github.com/Beloborodova-Anastasiia"
      > Мой аккаунт Github </a>
    </p>
  </div>  
{% endblock %}